name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Buildozer
      run: |
        sudo apt-get update
sudo apt-get install -y \
  build-essential \
  git \
  python3-pip \
  python3-setuptools \
  python3-wheel \
  libffi-dev \
  libssl-dev \
  zlib1g-dev \
  libncurses6 \
  libncurses-dev \
  libsqlite3-dev \
  libbz2-dev \
  libreadline-dev \
  liblzma-dev \
  libjpeg-dev \
  libpng-dev \
  libsdl2-dev \
  libsdl2-image-dev \
  libsdl2-mixer-dev \
  libsdl2-ttf-dev \
  libportmidi-dev \
  libswscale-dev \
  libavformat-dev \
  libavcodec-dev
        pip install --upgrade pip
        pip install buildozer cython

    - name: Accept Licenses + Build APK
      run: |
        yes | buildozer android update
        yes | buildozer -v android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
